<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gdufs.yixiu.dao.CommentMapper">
    <!-- SQL映射语句在此定义 -->
    <insert id="addComment" useGeneratedKeys="true" keyColumn="comment_id" keyProperty="commentId" parameterType="gdufs.yixiu.dto.community.request.RequestCommentDto">
        insert into post_comment(post_id, user_id, content)
        values(#{postId}, #{userId}, #{content})
    </insert>
    <insert id="addReply" useGeneratedKeys="true" keyColumn="reply_id" keyProperty="replyId" parameterType="gdufs.yixiu.dto.community.request.RequestReplyDto">
        insert into post_comment_reply(comment_id, from_user_id, to_user_id, parent_reply_id, content)
        values(#{commentId}, #{fromUserId}, #{toUserId}, #{parentReplyId}, #{content})
    </insert>
    <insert id="addCommentLike">
        insert into comment_like(comment_id, user_id)
        values(#{commentId}, #{userId})
    </insert>
    <insert id="addReplyLike">
        insert into reply_like(reply_id, user_id)
        values(#{replyId}, #{userId})
    </insert>
    <update id="updateComment" parameterType="gdufs.yixiu.pojo.PostComment">
        update post_comment
        <set>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where comment_id = #{commentId}
    </update>
    <update id="updateReply" parameterType="gdufs.yixiu.pojo.PostCommentReply">
        update post_comment_reply
        <set>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where reply_id = #{replyId}
    </update>
    <update id="updateReplyStatusByCommentId">
        update post_comment_reply
        set status = #{status}
        where comment_id = #{commentId}
    </update>
    <delete id="deleteComment" parameterType="java.lang.Integer">
        delete from post_comment where comment_id = #{commentId}
    </delete>
    <delete id="deleteReply" parameterType="java.lang.Integer">
        delete from post_comment_reply where reply_id = #{replyId}
    </delete>
    <delete id="deleteCommentLike">
        delete from comment_like where comment_id = #{commentId} and user_id = #{userId}
    </delete>
    <delete id="deleteReplyLike">
        delete from reply_like where reply_id = #{replyId} and user_id = #{userId}
    </delete>
    <select id="listComments" resultType="gdufs.yixiu.pojo.PostComment" parameterType="java.lang.Integer">
        select * from post_comment where post_id = #{postId} and status = 0 order by create_time desc
    </select>
    <select id="listReplies" resultType="gdufs.yixiu.pojo.PostCommentReply" parameterType="java.lang.Integer">
        select * from post_comment_reply where comment_id = #{commentId}
    </select>
    <select id="countCommentsByPostId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT
            (SELECT COUNT(*) FROM post_comment WHERE post_id = #{postId}) +
            (SELECT COUNT(*) FROM post_comment_reply r
                                      INNER JOIN post_comment c ON r.comment_id = c.comment_id
             WHERE c.post_id = #{postId}) AS total_count
    </select>
    <select id="isExistCommentLiked" resultType="java.lang.Boolean">
        select exists(select * from comment_like where comment_id = #{commentId} and user_id = #{userId})
    </select>
    <select id="isExistReplyLiked" resultType="java.lang.Boolean">
        select exists(select * from reply_like where reply_id = #{replyId} and user_id = #{userId})
    </select>
    <select id="selectLikedCommentIds" resultType="java.lang.Integer">
        select comment_id from comment_like where user_id = #{userId} and comment_id in
        <foreach item="commentId" collection="commentIds" open="(" separator="," close=")">
            #{commentId}
        </foreach>
    </select>
    <select id="selectLikedReplyIds" resultType="java.lang.Integer">
        select reply_id from reply_like where user_id = #{userId} and reply_id in
        <foreach item="replyId" collection="replyIds" open="(" separator="," close=")">
            #{replyId}
        </foreach>
    </select>
    <select id="getCommentLikeCounts" resultType="gdufs.yixiu.dto.community.vo.CommentStatisticCountVO">
        SELECT comment_id, COUNT(*) as `count`
        FROM comment_like
        WHERE comment_id IN
        <foreach collection="commentIds" item="commentId" open="(" separator="," close=")">
            #{commentId}
        </foreach>
        GROUP BY comment_id
    </select>
    <select id="getCommentReplyCounts" resultType="gdufs.yixiu.dto.community.vo.CommentStatisticCountVO">
        SELECT comment_id, COUNT(*) as `count`
        FROM post_comment_reply
        WHERE comment_id IN
        <foreach collection="commentIds" item="commentId" open="(" separator="," close=")">
            #{commentId}
        </foreach>
        GROUP BY comment_id
    </select>
    <select id="getRepliesByCommentIds" resultType="gdufs.yixiu.pojo.PostCommentReply">
        SELECT reply_id, comment_id, from_user_id, to_user_id, parent_reply_id, content, status, create_time FROM (
        SELECT r.*,
        ROW_NUMBER() OVER (
            PARTITION BY r.comment_id
            ORDER BY r.create_time DESC
        ) AS rn
        FROM post_comment_reply r
        WHERE r.comment_id IN
        <foreach collection="commentIds" item="commentId" open="(" separator="," close=")">
            #{commentId}
        </foreach>
        AND r.status = 0
        ) t
        WHERE t.rn <![CDATA[ <= ]]> #{limit}
        ORDER BY t.comment_id, t.create_time DESC
    </select>
    <select id="getReplyLikeCounts" resultType="gdufs.yixiu.dto.community.vo.ReplyStatisticCountVO">
        SELECT reply_id, COUNT(*) as `count`
        FROM reply_like
        WHERE reply_id IN
        <foreach collection="replyIds" item="replyId" open="(" separator="," close=")">
            #{replyId}
        </foreach>
        GROUP BY reply_id
    </select>
    <select id="getReplyByCommentId" resultType="gdufs.yixiu.pojo.PostCommentReply">
        SELECT *
        FROM post_comment_reply
        WHERE comment_id = #{commentId}
        ORDER BY create_time DESC
    </select>
    <select id="getCommentByCommentId" resultType="gdufs.yixiu.pojo.PostComment"
            parameterType="java.lang.Integer">
        select * from post_comment where comment_id = #{commentId}
    </select>
    <select id="getReplyByReplyId" resultType="gdufs.yixiu.pojo.PostCommentReply"
            parameterType="java.lang.Integer">
        select * from post_comment_reply where reply_id = #{replyId}
    </select>
    <select id="findUserCommentListByFilter" resultType="gdufs.yixiu.dto.UserCommentListDto"
            parameterType="gdufs.yixiu.dto.filter.UserCommentListFilter">
        select
        pc.user_id as userId,
        pc.comment_id as commentId,
        pc.post_id as postId,
        pc.content as content,
        pc.status as status,
        pc.create_time as createTime,
        COALESCE(like_count.get_like_count, 0) as likeCount,
        COALESCE(reply_count.get_reply_count, 0) as replyCount
        from post_comment pc
        left join (
        select comment_id, count(*) as get_like_count
        from comment_like
        group by comment_id
        ) like_count on pc.comment_id = like_count.comment_id
        left join (
        select comment_id, count(*) as get_reply_count
        from post_comment_reply
        where status = 0
        group by comment_id
        ) reply_count on pc.comment_id = reply_count.comment_id
        <where>
            pc.user_id = #{userId}
            <if test="status != null">
                AND pc.status = #{status}
            </if>
        </where>
        <if test="sortBy != null">
            <choose>
                <when test="sortBy == 1">
                    ORDER BY pc.create_time
                </when>
                <when test="sortBy == 2">
                    ORDER BY replyCount
                </when>
                <when test="sortBy == 3">
                    ORDER BY likeCount
                </when>
                <otherwise>
                    ORDER BY pc.create_time
                </otherwise>
            </choose>
        </if>
        <if test="sortOrder != null">
            <choose>
                <when test="sortOrder == 1">
                    ASC
                </when>
                <when test="sortOrder == 2">
                    DESC
                </when>
            </choose>
        </if>
    </select>
    <select id="findUserReplyListByFilter" resultType="gdufs.yixiu.dto.UserReplyListDto"
            parameterType="gdufs.yixiu.dto.filter.UserCommentListFilter">
        select
        r.from_user_id as userId,
        r.reply_id as replyId,
        r.comment_id as commentId,
        c.post_id as postId,
        r.status as status,
        r.content as content,
        r.create_time as createTime,
        COALESCE(like_count.like_count, 0) as likeCount,
        COALESCE(reply_count.reply_count, 0) as replyCount
        from post_comment_reply r
        inner join post_comment c on r.comment_id = c.comment_id
        left join (
        select reply_id, count(*) as like_count
        from reply_like
        group by reply_id
        ) like_count on r.reply_id = like_count.reply_id
        left join (
        select r2.parent_reply_id, count(*) as reply_count
        from post_comment_reply r2
        where r2.status = 0 and r2.parent_reply_id is not null
        group by r2.parent_reply_id
        ) reply_count on r.reply_id = reply_count.parent_reply_id
        <where>
            r.from_user_id = #{userId}
            <if test="status != null">
                AND r.status = #{status}
            </if>
        </where>
        <choose>
            <when test="sortBy == 1">
                ORDER BY r.create_time
            </when>
            <when test="sortBy == 2">
                ORDER BY replyCount
            </when>
            <when test="sortBy == 3">
                ORDER BY likeCount
            </when>
            <otherwise>
                ORDER BY r.create_time
            </otherwise>
        </choose>
        <if test="sortOrder != null">
            <choose>
                <when test="sortOrder == 1">
                    ASC
                </when>
                <when test="sortOrder == 2">
                    DESC
                </when>
            </choose>
        </if>
    </select>
</mapper>