<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gdufs.yixiu.dao.PostMapper">
    <!-- SQL映射语句在此定义 -->
    <insert id="addPost" parameterType="gdufs.yixiu.pojo.Post" useGeneratedKeys="true" keyColumn="post_id" keyProperty="postId">
        insert into post(user_id, title, content)
        values(#{userId}, #{title}, #{content})
    </insert>
    <insert id="addPostImg" parameterType="gdufs.yixiu.pojo.PostImg">
        insert into post_img(post_id, img_url)
        values(#{postId}, #{imgUrl})
    </insert>
    <insert id="addLike">
        insert into post_like(post_id, user_id)
        values(#{postId}, #{userId})
    </insert>
    <insert id="addFavorite">
        insert into post_favorite(post_id, user_id)
        values(#{postId}, #{userId})
    </insert>
    <insert id="addView">
        insert into post_view(post_id, ip_address, user_id)
        values(#{postId}, #{ipAddress}, #{userId})
    </insert>
    <insert id="addPostTags">
        insert into post_tag_rel(post_id, tag_id)
        values
            <foreach collection="tags" item="tag" separator=",">
                (#{postId}, #{tag})
            </foreach>
    </insert>
    <update id="updatePost" parameterType="gdufs.yixiu.pojo.Post">
        update post
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where post_id = #{postId}
    </update>
    <delete id="deletePost">
        delete from post where post_id = #{postId}
    </delete>
    <delete id="deleteLike">
        delete from post_like where post_id = #{postId} and user_id = #{userId}
    </delete>
    <delete id="deleteFavorite">
        delete from post_favorite where post_id = #{postId} and user_id = #{userId}
    </delete>
    <select id="queryPostById" resultType="gdufs.yixiu.pojo.Post" parameterType="java.lang.Integer">
        select * from post where post_id = #{postId}
    </select>
    <select id="queryPostByUserId" resultType="gdufs.yixiu.pojo.Post" parameterType="java.lang.Integer">
        select * from post where user_id = #{userId}
    </select>
    <select id="queryPostByFilter" resultType="gdufs.yixiu.pojo.Post"
            parameterType="gdufs.yixiu.dto.community.request.PostFilterDto">
        select * from post
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="tagId != null">
                and tag_id = #{tagId}
            </if>
        </where>
    </select>
    <select id="queryAllPost" resultType="gdufs.yixiu.pojo.Post">
        select * from post
    </select>
    <select id="countPostLikeFavViewNum" resultType="java.util.Map" parameterType="java.lang.Integer">
        select
            (select count(*) from post_like where post_id = #{postId}) as likeNum,
            (select count(*) from post_favorite where post_id = #{postId}) as favoriteNum,
            (select count(*) from post_view where post_id = #{postId}) as viewNum
    </select>
    <select id="queryPostImgUrls" resultType="java.lang.String" parameterType="java.lang.Integer">
        select img_url from post_img where post_id = #{postId}
    </select>
    <select id="isExistLike" resultType="java.lang.Boolean">
        select exists(select * from post_like where post_id = #{postId} and user_id = #{userId})
    </select>
    <select id="isExistFavorite" resultType="java.lang.Boolean">
        select exists(select * from post_favorite where post_id = #{postId} and user_id = #{userId})
    </select>
    <select id="checkRecentView" resultType="java.lang.Boolean">
        SELECT EXISTS(
            SELECT 1 FROM post_view
            WHERE post_id = #{postId}
              AND user_id = #{userId}
              AND create_time >= DATE_SUB(NOW(), INTERVAL 1 HOUR)
        )
    </select>
    <select id="queryPostTags" resultType="gdufs.yixiu.dto.community.vo.TagVO"
            parameterType="java.lang.Integer">
        select pt.tag_id, pt.tag_name from post_tag_rel as ptr
            join post_tag as pt
                on ptr.tag_id = pt.tag_id
        where ptr.post_id = #{postId}
    </select>
    <select id="queryAllTags" resultType="gdufs.yixiu.dto.community.vo.TagVO">
        select pt.tag_id, pt.tag_name
        from post_tag as pt
            left join post_tag_rel as ptr
                on pt.tag_id = ptr.tag_id
        group by pt.tag_id, pt.tag_name
        order by COUNT(ptr.tag_id) desc
    </select>
    <select id="getPostsLikeCounts" resultType="gdufs.yixiu.dto.community.vo.PostCommentStatisticVO">
        SELECT post_id, COUNT(*) as `count`
        FROM post_like
        WHERE post_id IN
        <foreach collection="postIds" item="postId" open="(" separator="," close=")">
            #{postId}
        </foreach>
        GROUP BY post_id
    </select>
    <select id="getPostsFavoriteCounts" resultType="gdufs.yixiu.dto.community.vo.PostCommentStatisticVO">
        SELECT post_id, COUNT(*) as `count`
        FROM post_favorite
        WHERE post_id IN
        <foreach collection="postIds" item="postId" open="(" separator="," close=")">
            #{postId}
        </foreach>
        GROUP BY post_id
    </select>
    <select id="getPostsViewCounts" resultType="gdufs.yixiu.dto.community.vo.PostCommentStatisticVO">
        SELECT post_id, COUNT(*) as `count`
        FROM post_view
        WHERE post_id IN
        <foreach collection="postIds" item="postId" open="(" separator="," close=")">
            #{postId}
        </foreach>
        GROUP BY post_id
    </select>
    <select id="getPostsCommentCounts" resultType="gdufs.yixiu.dto.community.vo.PostCommentStatisticVO">
        SELECT post_id, COUNT(*) AS `count`
        FROM (
        -- 一级评论
        SELECT pc.post_id
        FROM post_comment pc
        WHERE pc.post_id IN
        <foreach collection="postIds" item="postId" open="(" separator="," close=")">
            #{postId}
        </foreach>

        UNION ALL

        -- 二级评论
        SELECT pc.post_id
        FROM post_comment_reply pcr
        JOIN post_comment pc ON pcr.comment_id = pc.comment_id
        WHERE pc.post_id IN
        <foreach collection="postIds" item="postId" open="(" separator="," close=")">
            #{postId}
        </foreach>
        ) t
        GROUP BY post_id
    </select>
    <select id="getPostIdsByUserId" resultType="java.lang.Integer">
        SELECT post_id FROM post WHERE user_id = #{userId}
    </select>
    <select id="getCommentIdsByUserId" resultType="java.lang.Integer">
        SELECT comment_id FROM post_comment WHERE user_id = #{userId}
    </select>
    <select id="getReplyIdsByUserId" resultType="java.lang.Integer">
        SELECT reply_id FROM post_comment_reply WHERE from_user_id = #{userId}
    </select>
    <select id="getPostsAndCommentsLikeCount" resultType="java.lang.Integer">
        SELECT
        (SELECT COUNT(*) FROM post_like
        WHERE post_id IN
        <foreach collection="postIds" item="postId" open="(" separator="," close=")">
            #{postId}
        </foreach>) +
        (SELECT COUNT(*) FROM comment_like
        WHERE comment_id IN
        <foreach collection="commentIds" item="commentId" open="(" separator="," close=")">
            #{commentId}
        </foreach>) +
        (SELECT COUNT(*) FROM reply_like
        WHERE reply_id IN
        <foreach collection="replyIds" item="replyId" open="(" separator="," close=")">
            #{replyId}
        </foreach>)
        AS `count`
    </select>

</mapper>