<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gdufs.yixiu.dao.TaskMapper">
    <!-- SQL映射语句在此定义 -->
    <insert id="addTask" useGeneratedKeys="true" keyColumn="request_id" keyProperty="requestId">
        insert into repair_request (user_id,contact_type,contact_info,device_type,device_system,device_model,problem_description,campus,repair_location,appointment_time,remarks)
        values (#{userId},#{contactType},#{contactInfo},#{deviceType},#{deviceSystem},#{deviceModel},#{problemDescription},#{campus},#{repairLocation},#{appointmentTime},#{remarks})
    </insert>
    <insert id="addRequestImg" parameterType="gdufs.yixiu.pojo.RepairRequestImg">
        insert into repair_request_img (request_id,img_url) values (#{requestId},#{imgUrl})
    </insert>
    <insert id="addTaskAssignment" parameterType="gdufs.yixiu.pojo.RepairAssignment" useGeneratedKeys="true" keyProperty="assignId" keyColumn="assign_id">
        insert into repair_assignment (request_id,volunteer_id,is_leader,remarks)
        values (#{requestId},#{volunteerId},#{isLeader},#{remarks})
    </insert>
    <insert id="addTaskApplyAssignment" parameterType="gdufs.yixiu.pojo.RepairAssignment">
        insert into repair_assignment (request_id,volunteer_id,status) values (#{requestId},#{volunteerId},#{status})
    </insert>
    <insert id="addTaskLog" parameterType="gdufs.yixiu.pojo.RepairLog" useGeneratedKeys="true" keyProperty="logId" keyColumn="log_id">
        insert into repair_log (request_id,volunteer_id,log_content,repair_duration,solution_summary) values (#{requestId},#{volunteerId},#{logContent},#{repairDuration},#{solutionSummary})
    </insert>
    <insert id="addTaskLogImg" parameterType="gdufs.yixiu.pojo.RepairLogImg">
        insert into repair_log_img (log_id,img_url) values (#{logId},#{imgUrl})
    </insert>
    <insert id="addTaskEvaluate" useGeneratedKeys="true" keyColumn="evaluate_id" keyProperty="evaluateId">
        insert into repair_evaluate (request_id,user_id,content,score) values (#{requestId},#{userId},#{content},#{score})
    </insert>
    <update id="updateTask">
        update repair_request
        <set>
            <if test="contactType != null">
                contact_type = #{contactType},
            </if>
            <if test="contactInfo != null">
                contact_info = #{contactInfo},
            </if>
            <if test="deviceType != null">
                device_type = #{deviceType},
            </if>
            <if test="deviceSystem != null">
                device_system = #{deviceSystem},
            </if>
            <if test="deviceModel != null">
                device_model = #{deviceModel},
            </if>
            <if test="problemDescription != null">
                problem_description = #{problemDescription},
            </if>
            <if test="campus != null">
                campus = #{campus},
            </if>
            <if test="repairLocation != null">
                repair_location = #{repairLocation},
            </if>
            <if test="appointmentTime != null">
                appointment_time = #{appointmentTime},
            </if>
            <if test="remarks != null">
                remarks = #{remarks},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        <where>
            request_id = #{requestId}
        </where>
    </update>
    <update id="updateTaskAssignment" parameterType="gdufs.yixiu.pojo.RepairAssignment">
        update repair_assignment
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="remarks != null">
                remarks = #{remarks},
            </if>
        </set>
        <where>
            assign_id = #{assignId}
        </where>
    </update>
    <update id="updateTaskAssignmentByRequestIdAndVolunteerId"
            parameterType="gdufs.yixiu.pojo.RepairAssignment">
        update repair_assignment
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="remarks != null">
                remarks = #{remarks},
            </if>
        </set>
        <where>
            request_id = #{requestId} and volunteer_id = #{volunteerId}
        </where>
    </update>
    <delete id="deleteTaskImgByRequestId" parameterType="java.lang.Integer">
        delete from repair_request_img where request_id = #{requestId}
    </delete>
    <delete id="deleteTaskLogImgByLogId" parameterType="java.lang.Integer">
        delete from repair_log_img where log_id = #{logId}
    </delete>
    <select id="findTaskById" resultType="gdufs.yixiu.pojo.RepairRequest" parameterType="java.lang.Integer">
        select * from repair_request where request_id = #{requestId}
    </select>
    <select id="findAllTask" resultType="gdufs.yixiu.pojo.RepairRequest">
        select * from repair_request order by update_time desc
    </select>
    <select id="findTaskByUserId" resultType="gdufs.yixiu.pojo.RepairRequest"
            parameterType="java.lang.Integer">
        select * from repair_request where user_id = #{userId} order by update_time desc
    </select>
    <select id="findTaskByStatus" resultType="gdufs.yixiu.pojo.RepairRequest" parameterType="java.lang.String">
        select * from repair_request where status = #{status} order by update_time desc
    </select>
    <select id="findRequestImgByRequestId" resultType="gdufs.yixiu.pojo.RepairRequestImg"
            parameterType="java.lang.Integer">
        select * from repair_request_img where request_id = #{requestId}
    </select>
    <select id="findRequestImgUrlByRequestId" resultType="string">
        select img_url from repair_request_img where request_id = #{requestId}
    </select>

    <select id="findTaskByFilterDto" resultType="gdufs.yixiu.pojo.RepairRequest">
        SELECT * FROM repair_request
        <where>
            <if test="createStartTime != null and createEndTime != null">
                AND create_time BETWEEN #{createStartTime} AND #{createEndTime}
            </if>
            <if test="updateStartTime != null and updateEndTime != null">
                AND update_time BETWEEN #{updateStartTime} AND #{updateEndTime}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
        </where>
        order by create_time desc
    </select>
    <select id="findIsExist" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select count(1) from repair_request where request_id = #{requestId}
    </select>
    <select id="findIsExistAssignment" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select count(1) from repair_assignment where request_id = #{requestId}
    </select>
    <select id="findTaskAssignmentByRequestId" resultType="gdufs.yixiu.pojo.RepairAssignment"
            parameterType="java.lang.Integer">
        select * from repair_assignment where request_id = #{requestId}
    </select>
    <select id="findTaskLogByRequestId" resultType="gdufs.yixiu.pojo.RepairLog"
            parameterType="java.lang.Integer">
        select * from repair_log where request_id = #{requestId}
    </select>
    <select id="findTaskLogImgByLogId" resultType="gdufs.yixiu.pojo.RepairLogImg"
            parameterType="java.lang.Integer">
        select * from repair_log_img where log_id = #{logId}
    </select>
    <select id="findTaskLogImgUrlByLogId" resultType="java.lang.String" parameterType="java.lang.Integer">
        select img_url from repair_log_img where log_id = #{logId}
    </select>
    <select id="findMyTaskAssignmentIdsByVolunteerId" resultType="java.lang.Integer"
            parameterType="java.lang.Integer">
        select request_id from repair_assignment where volunteer_id = #{volunteerId} order by update_time desc
    </select>
    <select id="findMyTaskIdsByFilterDto" resultType="java.lang.Integer"
            parameterType="gdufs.yixiu.dto.TaskFilterDto">
        SELECT repair_request.request_id FROM repair_request JOIN repair_assignment ON repair_request.request_id = repair_assignment.request_id
        <where>
            <if test="createStartTime != null and createEndTime != null">
                AND repair_request.create_time BETWEEN #{createStartTime} AND #{createEndTime}
            </if>
            <if test="updateStartTime != null and updateEndTime != null">
                AND repair_request.update_time BETWEEN #{updateStartTime} AND #{updateEndTime}
            </if>
            <if test="status != null">
                AND repair_request.status = #{status}
            </if>
            <if test="volunteerId != null">
                AND repair_assignment.volunteer_id = #{volunteerId}
            </if>
        </where>
        order by repair_request.update_time desc
    </select>
    <select id="findTaskEvaluateByRequestId" resultType="gdufs.yixiu.pojo.RepairEvaluate">
        select * from repair_evaluate where request_id = #{requestId}
    </select>
    <select id="findRepairLogsWithDate" resultType="gdufs.yixiu.pojo.RepairLog">
        SELECT * FROM repair_log WHERE volunteer_id = #{volunteerId} AND DATE(upload_time) BETWEEN #{startDate} AND #{endDate}
    </select>
    <select id="findTaskMemberIdsByRequestId" resultType="java.lang.Integer">
        SELECT u.user_id
        FROM repair_assignment ra
                 JOIN volunteer_info vi ON ra.volunteer_id = vi.volunteer_id
                 JOIN users u ON vi.user_id = u.user_id
        WHERE ra.request_id = #{requestId};
    </select>

</mapper>