<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gdufs.yixiu.dao.UsersMapper">
    <!-- SQL映射语句在此定义 -->
    <insert id="addUserByPhone" parameterType="gdufs.yixiu.pojo.Users" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
        insert into users(phone,username,role,avatar,last_login)
        values(#{phone},#{username},#{role},"default_avatar.jpg",NOW())
    </insert>
    <insert id="addUserByEmail" parameterType="gdufs.yixiu.pojo.Users" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
        insert into users(email,username,role,avatar,last_login)
        values(#{email},#{username},#{role},"default_avatar.jpg",NOW())
    </insert>
    <insert id="addUserByOpenid" parameterType="gdufs.yixiu.pojo.Users"></insert>
    <insert id="addUserFollow">
        insert into user_follow(follower_id,followee_id)
        values(#{followerId},#{followeeId})
    </insert>
    <insert id="upsertProfileView">
        INSERT INTO user_profile_view (viewer_id, viewed_user_id, viewer_ip, view_count)
        VALUES (#{viewerId}, #{userId}, #{ip}, 1)
            ON DUPLICATE KEY UPDATE
            view_count = IF(TIMESTAMPDIFF(MINUTE, update_time, NOW()) >= 30, view_count + 1, view_count),
            update_time = IF(TIMESTAMPDIFF(MINUTE, update_time, NOW()) >= 30, NOW(), update_time);
    </insert>
    <select id="findUserById" resultType="gdufs.yixiu.pojo.Users" parameterType="java.lang.Integer">
        select user_id,username,real_name,phone,email,avatar,user_signature,role,status,last_login from users where user_id = #{userId}
    </select>
    <select id="findUserByPhoneAndRole" resultType="gdufs.yixiu.pojo.Users">
        select * from users where phone = #{phone} and role = #{role}
    </select>
    <select id="findUserByEmailAndRole" resultType="gdufs.yixiu.pojo.Users">
        select * from users where email = #{email} and role = #{role}
    </select>
    <select id="findSuperAdmin" resultType="gdufs.yixiu.pojo.Users">
        select * from users where role = "super_admin"
    </select>
    <select id="findAllUserIds" resultType="java.lang.Integer">
        select user_id from users
    </select>
    <select id="findAllVolunteersExcludeMySelf" resultType="gdufs.yixiu.pojo.Users">
        select * from users where role != "student" and user_id != #{userId}
    </select>
    <select id="findUserRealNameAndAvatarById" resultType="gdufs.yixiu.pojo.Users"
            parameterType="java.lang.Integer">
        select real_name,avatar from users where user_id = #{userId}
    </select>
    <select id="findUserByName" resultType="gdufs.yixiu.pojo.Users">
        select * from users
        <where>
            username like "%"#{name}"%" OR real_name like "%"#{name}"%"
        </where>
    </select>
    <select id="findAllVolunteersExcludeMySelfByFilter" resultType="gdufs.yixiu.pojo.Users">
        select
        u.user_id,u.username,u.real_name,u.phone,u.email,u.avatar,u.role,u.status,u.last_login
        from users u
        join volunteer_info v on u.user_id = v.user_id
        <where>
            <if test="status != null">
                AND v.status = #{status}
            </if>
            <if test="grade != null">
                AND v.grade = #{grade}
            </if>
            <if test="majorClass != null">
                AND v.major_class like "%"#{majorClass}"%"
            </if>
            <if test="excludeUserId != null">
                AND u.user_id != #{excludeUserId}
            </if>
        </where>
    </select>
    <select id="findUserNameAndAvatarByIds" resultType="gdufs.yixiu.dto.community.vo.UserInfoVO">
        select user_id,username,avatar,user_signature from users where user_id in
        <foreach item="userId" collection="userIds" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>
    <select id="findFolloweesByFilter" resultType="gdufs.yixiu.pojo.UserFollow">
        select * from user_follow uf
        <where>
            uf.follower_id = #{userId}
            <if test="status != null">
                AND uf.status = #{status}
            </if>
            <if test="keyword != null">
                AND EXISTS
                (select 1 from users u
                 where u.user_id = uf.followee_id
                 and u.username like CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </select>
    <select id="findFollowersByFilter" resultType="gdufs.yixiu.pojo.UserFollow">
        select * from user_follow uf
        <where>
            uf.followee_id = #{userId}
            <if test="status != null">
                AND uf.status = #{status}
            </if>
            <if test="keyword != null">
                AND EXISTS
                (select 1 from users u
                where u.user_id = uf.followee_id
                and u.username like CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </select>
    <select id="findCommunityStatistic" resultType="gdufs.yixiu.dto.community.response.CommunityStatisticDto">
        select
            (select count(1) from user_follow where follower_id = #{userId}) as followNum,
            (select count(1) from user_follow where followee_id = #{userId}) as fansNum,
            (select count(1) from post where user_id = #{userId}) as postNum
    </select>
    <select id="isExistUserFollow" resultType="java.lang.Integer">
        select count(1) from user_follow where follower_id = #{followerId} and followee_id = #{followeeId}
    </select>
    <select id="isExistUserFollowing" resultType="java.lang.Integer">
        select count(1) from user_follow where follower_id = #{followerId} and followee_id = #{followeeId} and status = 1
    </select>
    <select id="findAllUserFollows" resultType="gdufs.yixiu.pojo.UserFollow">
        select follower_id, followee_id from user_follow
        where status = 1
    </select>
    <select id="findProfileViewCount" resultType="java.lang.Integer">
        select sum(view_count) from user_profile_view where viewed_user_id = #{viewedId}
    </select>
    <update id="updateUser" parameterType="gdufs.yixiu.pojo.Users">
        update users
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="realName != null">
                real_name = #{realName},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="lastLogin != null">
                last_login = #{lastLogin},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
            <if test="userSignature != null">
                user_signature = #{userSignature},
            </if>
        </set>
        <where>
            user_id = #{userId}
        </where>
    </update>
    <update id="updateUserFollow">
        update user_follow
        <set>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        <where>
            follower_id = #{followerId} and followee_id = #{followeeId}
        </where>
    </update>
</mapper>