<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gdufs.yixiu.dao.VolunteerMapper">
    <!-- SQL映射语句在此定义 -->
    <insert id="addVolunteerInfo" parameterType="gdufs.yixiu.pojo.VolunteerInfo" useGeneratedKeys="true" keyProperty="volunteerId" keyColumn="volunteer_id">
        insert into volunteer_info(user_id, student_number, major_class, grade)
        values(#{userId}, #{studentNumber}, #{majorClass}, #{grade})
    </insert>
    <update id="updateVolunteerInfo" parameterType="gdufs.yixiu.pojo.VolunteerInfo">
        update volunteer_info
        <set>
            <if test="studentNumber != null">
                student_number = #{studentNumber},
            </if>
            <if test="majorClass != null">
                major_class = #{majorClass},
            </if>
            <if test="grade != null">
                grade = #{grade},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="contactType != null">
                contact_type = #{contactType},
            </if>
            <if test="contactNumber != null">
                contact_number = #{contactNumber},
            </if>
        </set>
        where user_id = #{userId}
    </update>
    <select id="findIsExistVolunteerByEmail" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(1) from users
        <where>
            email = #{email}
            AND role IN ('volunteer', 'admin', 'super_admin')
        </where>
    </select>
    <select id="findVolunteerInfoByUserId" resultType="gdufs.yixiu.pojo.VolunteerInfo">
        select * from volunteer_info
        <where>
            user_id = #{userId}
        </where>
    </select>
    <select id="findVolunteerIdByUserId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select volunteer_id from volunteer_info
        <where>
            user_id = #{userId}
        </where>
    </select>
    <select id="findVolunteerInfoByVolunteerId" resultType="gdufs.yixiu.pojo.VolunteerInfo"
            parameterType="java.lang.Integer">
        select * from volunteer_info
        <where>
            volunteer_id = #{volunteerId}
        </where>
    </select>
    <select id="findVolunteerNameByUserId" resultType="java.lang.String" parameterType="java.lang.Integer">
        SELECT real_name FROM users JOIN volunteer_info ON users.user_id = volunteer_info.user_id
        <where>
            users.user_id = #{userId}
        </where>
    </select>
    <select id="findVolunteerNameByVolunteerId" resultType="java.lang.String"
            parameterType="java.lang.Integer">
        SELECT real_name FROM users JOIN volunteer_info ON users.user_id = volunteer_info.user_id
        <where>
            volunteer_info.volunteer_id = #{volunteerId}
        </where>
    </select>
    <select id="findVolunteersByName" resultType="gdufs.yixiu.pojo.Users">
        select * from users
        <where>
            username like "%"#{name}"%" OR real_name like "%"#{name}"%"
            AND role IN ('volunteer', 'admin', 'super_admin')
        </where>
    </select>
</mapper>